body {
  background-color: aquamarine;
  text-align: center;
}

h1 {
  font-family: 'Yellowtail', 'Times New Roman';
  font-weight: bold;
  color:black;
  font-size: 3rem;
  margin: 2rem auto;
}

h3 {
  font-family: 'Times New Roman', sans-serif;
}

p {
  font-family: 'Times New Roman', serif;
}

main {
    margin: 0 auto;
}

/* navigation bar */
nav {
  width: 100%;
  display: flex;
  margin: 30px 0;
  background-color: white;
  border-top: 2px solid mediumblue;
  border-bottom: 2px solid mediumblue;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-flex;
  position: relative;
  float: inline-start;
  margin: 1rem 2 rem;
}

a {
  text-decoration: none;
  color: gray;
}

.nav-links li a:hover {
  color:blueviolet;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  margin: 50px auto;
}


.hero-img {
  z-index: 1;
  max-width: 500px;
  max-height: 300px;
}

.hero-img-bg {
  width: 300px;
  height: 400px;
  top: 150px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

main {
  margin-bottom: 50px;
}

.info-text {
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
  display: block;
  border-collapse: separate;
  border: 2px solid red;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 30px auto;
  overflow-y: scroll;
  width: 960px;
  height: 230px;
  font-family: 'Times New Roman';
}
